<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

<body class="home">
    <%- include('./partials/header') %>

    <h1>Carrito</h1>

    <%- include('./partials/footer') %>
</body>