
<%- include('./partials/head.ejs') %>

<body class="home">

    <%- include('./partials/header') %>

    <main class="body__main">
        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-1.jpg" alt="producto 1" class="imagen--principal">
                <img src="/img/img-nuevo.png" alt="nuevo" class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>

        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-2.jpg" alt="producto 2" class="imagen--principal">
                <img src="/img/img-gratis.png" alt="gratis" class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>

        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-3.jpg" alt="producto 3" class="imagen--principal">
                <img src="/img/img-descuento.png" alt="30% off"  class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>

        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-1.jpg" alt="producto 1" class="imagen--principal">
                <img src="/img/img-gratis.png" alt="gratis"  class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>

        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-2.jpg" alt="producto 2" class="imagen--principal">
                <img src="/img/img-nuevo.png" alt="nuevo"  class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>

        <section class="body__main__section">
            <div class="body__main__section__article--img">
                <img src="/img/img-pdto-3.jpg" alt="producto 3" class="imagen--principal">
                <img src="/img/img-descuento.png" alt="30% off" class="imagen--promo">
                <a href="">ampliar foto</a>
            </div>
            <div class="body__main__section__article--descripcion">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
                    odio, facere incidunt?</p>
                <a href="">ver más</a>
            </div>
        </section>
    </main>

   <%- include('./partials/footer') %>

</body>

</html>