<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

<body class="home">

    <%- include('./partials/header') %>

    
    <img src="/images/img-banner.jpg" alt="banner" class="banner">

    <main class="body__main">

        <% for( let i = 0; i < 6; i++ ) { %>
            <%- include('./partials/product-cart') %>        
        <% } %>
       
    </main>

   <%- include('./partials/footer') %>

</body>

</html>