<footer class="body__footer">
    <nav class="body__footer__nav">
        <ul class="body__footer__nav__ul">
            <li><a href="">home</a></li>
            <li><a href="">quienes</a></li>
            <li><a href="">servicios</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</footer>