<header class="body__header">
    <img src="/images/logo.jpg" alt="Logo" class="header__logo">
    <a href="" class="icon-bar"><i class="fa-solid fa-bars"></i></a>
    <nav  class="body__header__nav">
        <ul  class="body__header__nav__ul">
            <li><a class="body__header__nav__ul--boton" href="/">home</a></li>
            <li><a class="body__header__nav__ul--boton" href="">quienes</a></li>
            <li><a class="body__header__nav__ul--boton" href="">servicios</a></li>
            <li><a class="body__header__nav__ul--boton" href="/carrito">Carrito</a></li>
            <li><a class="body__header__nav__ul--boton" href="/usuarios/ingreso">Login</a></li>
            <li><a class="body__header__nav__ul--boton" href="/usuarios/registro">Register</a></li>
        </ul>
    </nav>
</header>