<section class="body__main__section">
    <div class="body__main__section__article--img">
        <img src="/images/img-pdto-1.jpg" alt="producto 1" class="imagen--principal">
        <img src="/images/img-nuevo.png" alt="nuevo" class="imagen--promo">
        <a href="">ampliar foto</a>
    </div>
    <div class="body__main__section__article--descripcion">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptate excepturi quia molestiae
            odio, facere incidunt?</p>
        <a href="/productos/detalle">ver más</a>
    </div>
</section>